.container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.imagen{
    width: 30%;
}

.producto-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.producto-detalle h3 {
    font-size: 50px;
}